@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
    :root {
        --background: 0 0 100%;
        --foreground: 0 0 15%;
        --card: 0 0 100%;
        --card-foreground: 0 0 15%;
        --popover: 0 0 100%;
        --popover-foreground: 0 0 15%;
        --primary: 30 45% 35%;
        --primary-foreground: 0 0% 98%;
        --primary-50: 30 45% 95%; /*#F8F2ED*/
        --primary-100: 30 44% 90%; /*#F1E6DA*/
        --primary-200: 30 41% 80%; /*#E1CCB7*/
        --primary-300: 30 45% 70%; /*#D5B390*/
        --primary-400: 30 45% 60%; /*#C7996B*/
        --primary-500: 30 45% 50%; /*#B98046*/
        --primary-600: 30 45% 35%; /*#815931*/
        --primary-700: 30 51% 20%; /*#4D3319*/
        --primary-800: 30 53% 10%; /*#271A0C*/
        --primary-900: 30 54% 5%; /*#140D06*/
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0 15%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.75rem;
    }

    * {
        @apply border-border scroll-smooth font-sans;
    }

    *::-webkit-scrollbar {
        @apply w-5 ;
    }

    *::-webkit-scrollbar-track {
        @apply bg-transparent my-4;
    }

    *::-webkit-scrollbar-thumb {
        @apply
        bg-gradient-to-t
        from-popover/5
        via-popover/20
        to-popover/5
        rounded-full
        border-4
        border-solid
        border-transparent;
        background-clip: content-box;
    }

    body {
        @apply text-foreground subpixel-antialiased;
        text-rendering: optimizeLegibility;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    main {
        @apply flex flex-col items-center relative max-h-screen overflow-y-auto;
    }

    section {
        @apply
        flex flex-col w-full h-fit
        max-w-7xl mx-auto relative
        space-y-8
        px-4 py-6 after:min-h-[100px] xl:after:min-h-0
        sm:px-6 lg:px-12;
        animation: fadeIn 0.5s ease-out;
    }
}

@layer components {
    .brick-effect:hover {
        @apply
        -translate-x-2
        -translate-y-2;
        box-shadow: 8px 8px 0 hsl(var(--primary));
    }

    .brick-effect:active {
        @apply
        translate-x-0
        translate-y-0
        shadow-none;
    }
}

@layer utilities {
    .svg-background {
        @apply bg-primary-700;
        background-image: url("/images/background.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@media (max-width: theme('screens.xl')) {
    * {
        scrollbar-width: none;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        @apply
        flex px-4 fixed z-20 left-0 right-0 bottom-4;
    }

    .navbar-logo {
        @apply hidden;
    }

    .navbar-inner {
        @apply
        flex items-center justify-between
        w-full h-fit p-3 pb-3 mx-auto
        max-w-md rounded-3xl
        bg-popover drop-shadow-2xl;
    }

    .navbar-link {
        @apply
        flex flex-col items-center relative
        after:absolute after:-bottom-2 after:opacity-0
        after:w-3 after:h-1 after:mx-auto
        after:rounded-full after:bg-primary-600
        after:transition-all after:duration-200;
    }

    .navbar-link[data-active="true"] {
        @apply
        after:opacity-100 after:bottom-1.5;
    }

    .navbar-icon {
        @apply
        w-8 h-8 p-3 box-content rounded-2xl
        transition-all duration-200
        text-gray-300 bg-popover;
    }

    .navbar-icon[data-active="true"] {
        @apply
        text-primary-600 bg-primary-100 pt-2.5 pb-3.5;
    }
}

@media (min-width: theme('screens.xl')) {
    .navbar {
        @apply
        flex-row w-full max-w-7xl px-4 py-6 lg:px-6
        flex justify-end
        fixed z-20;
    }

    .navbar-logo {
        @apply flex;
    }

    .navbar-inner {
        @apply
        flex h-fit justify-between relative
        rounded-2xl p-2 shadow-lg gap-2 overflow-hidden
        bg-gradient-to-r from-popover/5 to-popover/20 backdrop-blur-sm;
    }

    .navbar-link {
        @apply
        flex items-center gap-2 py-2 px-4
        rounded-xl relative z-10 shrink-0
        text-sm leading-6 text-gray-50
        transition-colors duration-200 font-medium box-border
        after:[content:var(--item-name)];
    }

    .navbar-link[data-active="true"] {
        @apply
        bg-primary-600 text-white
    }

    .navbar-link[data-active="false"] {
        @apply
        hover:bg-primary-100 hover:text-primary-600;
    }

    .navbar-icon {
        @apply
        h-5 w-5 shrink-0 transition-colors;

    }

    .navbar-icon[data-active="true"] {
        @apply
        text-white;
    }

}

